body {
  background-color: rgb(21, 221, 204);
  font-family: 'Mali', cursive;
  font-size: 30px;
}

form {
  width: 600px;
  padding: 140px;
}

.error {
  border: 5px solid red;
}

input {
  display: flex;
}

ul {
  list-style: none;
  width: 900px;
}

li {
  background-color: rgb(255, 218, 218);
}